@import './helpers/variables.scss';
@import './helpers/responsive.scss';

.menu {
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      color: $soft-color;
      font-size: 12px;
      font-weight: 200;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      width: 100%;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}